---
layout: default
---

<script src="https://cdn.bootcss.com/jquery/1.2.3/jquery.min.js"></script>
<script>
/**
 * 分类展示（点击右侧的分类展示时，左侧的相关裂变展开或者收起）
 * @return {[type]} [description]
 */
function categoryDisplay() {
    /** only show All */
    $('.post-list-body>ul>li[post-cate!=All]').hide();
    /** show category when click categories list */
    $('.categories-list-item').click(function() {
        var cate = $(this).attr('cate');
        $('.post-list-body>ul>li[post-cate!=' + cate + ']').hide(250);
        $('.post-list-body>ul>li[post-cate=' + cate + ']').show(400);
        if(cate == 'All'){
            $('.pagination').show(400);
        }
    });
}
$(document).ready(function() {
    categoryDisplay();
});
</script>
<div class="page clearfix" index>
    <div class="left">
        <!--<h1>文章列表</h1>-->
        <small>站在云端，敲下键盘，望着通往世界另一头的那扇窗，只为做那读懂0和1的人。。</small>
        <hr>
        <div class="post-list-body">
            <ul>
                {% for post in paginator.posts %}
                    <li post-cate="All">
                        <a class="post-link" style="font-size:20px;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        <hr style="margin: 12px 0">
                    </li>
                {% endfor %}
                <!-- 玄玉201805241800：预置各分类文章列表，供首页点击分类时动态显示 -->
                {% for category in site.categories %}
                    {% for posts in category %}
                        {% for post in posts %}
                            {% if post.url %}
                                <li post-cate="{{category | first}}">
                                    <a class="post-link" style="font-size:20px;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                    <hr style="margin: 12px 0">
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </ul>
            <!-- Pagination links -->
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
              {% else %}
                <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
                <span class="previous disable"><i class="fa fa-angle-left"></i></span>
              {% endif %}
              <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
                <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
              {% else %}
                <span class="next disable"><i class="fa fa-angle-right"></i></span>
                <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
              {% endif %}
            </div>
        </div>
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">
            <!-- 玄玉201805241800：预置各分类文章列表，供首页点击分类时动态显示 -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    分类目录
                </div>
                 <ul class="content-ul" cate>
                    <li>
                        <a href="javascript:;" class="categories-list-item" cate="All">
                            <span class="name">
                                所有文章
                            </span>
                            <span class="badge"> {{site.posts | size}}</span>
                        </a>
                    </li>
                    {% for category in site.categories %}
                    <li>
                        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>