<footer class="site-footer">
    <div class="wrapper">
        <p class="contact">
            <span class="power">
                <a target="_blank" href="https://beian.miit.gov.cn/">渝ICP备-待备案</a>
                &nbsp;&nbsp;&nbsp;
                <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=xxxxxx">
                    <img src="/img/ga.png" style="transform: translate(-3px,3px);"></img>渝公网安备-待备案
                </a>
                &nbsp;&nbsp;&nbsp;
                Copyright &copy; 2010 - 2025 <a target="_blank" href="{{ site.fullurl }}/">{{ site.fullurl }}/</a>. All Rights Reserved.
            </span>
            Contact me at
            <a href="https://v6.51.la/s/YkE4kQuklDNhhQG" title="51la网站统计" target="_blank"><i class="fa fa-buysellads" aria-hidden="true"></i></a>
            {% if site.email %}<a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>{% endif %}
            {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>{% endif %}
        </p>
    </div>
</footer>