<footer class="site-footer">
    <div class="wrapper">
        <p class="contact">
            <span class="power">
                Copyright &copy; 2010 - 2025 <a href="{{ site.baseurl }}/">Jadyer</a>. All Rights Reserved.
            </span>
            Contact me at
            {% if site.email %}<a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>{% endif %}
            {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>{% endif %}
        </p>
    </div>
</footer>
<!-- 网页背景点线粒子效果（只需要一条js即可实现，由于启用它会多耗10%CPU，导致风扇呼呼转，故屏蔽） -->
<!--
<script type="text/javascript" color="0,205,205" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
-->