<footer class="site-footer">
    <div class="wrapper">
        <p class="contact">
            <span class="power">
                <a href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank">渝ICP备2024035423号</a>
                &nbsp;
                <a href="https://beian.mps.gov.cn/#/query/webSearch?code=50019002504303" rel="noreferrer" target="_blank">
                    <img alt="" src="/img/ga.png" style="transform: translate(-3px,4px);"/>渝公网安备50019002504303号
                </a>
                &nbsp;Copyright &copy; 2010 - 2026 <a target="_blank" href="{{ site.fullurl }}">{{ site.fullurl }}</a>. All Rights Reserved.
            </span>
            Contact me at
            <a href="{{ site.fullurl }}/feed.xml" title="RSS" target="_blank"><i class="fa fa-rss-square" aria-hidden="true"></i></a>
            {% if site.email %}<a href="mailto:{{site.email}}" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>{% endif %}
            {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>{% endif %}
        </p>
    </div>
</footer>