<header id="top">
    <canvas id="canvas-bg" style="position: fixed; top: 0; pointer-events: none;" width="1903" height="974"></canvas>
    <script>
        var q = document.getElementById('canvas-bg'), w = q.width = document.body.clientWidth, h = q.height = window.innerHeight,
            p = new Array(256).join(1).split(''), c = q.getContext('2d'), m = Math;
        setInterval(function () {
            c.fillStyle = 'rgba(0,0,0,0.05)';
            c.fillRect(0, 0, w, h);
            c.fillStyle = 'rgba(0,255,0,1)';
            p = p.map(function (v, i) {
                r = m.random();
                c.fillText(String.fromCharCode(m.floor(2720 + r * 33)), i * 10, v);
                v += 10;
                return v > 768 + r * 1e4 ? 0 : v
            })
        }, 33)
    </script>
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
        <small>{{site.brief-intro}}</small>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.type == 'page' %}
                        <!-- 这里的'Tags'对应的是/page/2tags.html里面的顶部title的值 -->
                        {% if my_page.title != 'Tags' %}
                        <li>
                            {% if my_page.url == page.url %}
                            <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                                {% else %}
                            <a href="{{ my_page.url | prepend: site.baseurl }}">
                            {% endif %}
                                <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
