<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google 和 Baidu 站点收录配置 -->
    <!-- http://www.google.com/webmasters/tools/ -->
    <!-- https://www.google.com/webmasters/verification/home -->
    <meta name="google-site-verification" content="zKrV6Ff7OCgWOuNJKWRwbvnfXJ7_v3J2t-iM9j1238U" />
    <!-- http://zhanzhang.baidu.com/ -->
    <meta name="baidu-site-verification" content="nG6p2Abd52" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_8v3czwksspqlg14i.css">
    <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    <!-- https://v6.51.la/：若此处控制台出现跨域或连接失败，那有可能是浏览器的Adblock插件所致 -->
    <script charset="UTF-8" id="LA_COLLECT" src="https://sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id:"3ID3lU9RrOsNU3qL",ck:"3ID3lU9RrOsNU3qL",autoTrack:true})</script>
</head>
